<img class="img" src="../../Content/images/main/random.jpg
" width="100%vh" max-height="25%vh !important" />
<div class="container-fluid" style="padding:5px;">

    <div class="card">
        <h2 class="card-header text-center">Welcome to the bookstore!</h2>
        <div class="card-body text-center">
            <h3>Features included:</h3>
            <ul class="list-unstyled">
                <li>Books</li>
                <li>Videos</li>
                <li>All other info.</li>
            </ul>
        </div>
    </div>
    

</div>

